absl
absl_py==0.13.0
arviz==0.11.4
autograd==1.3
gaussian_process==0.0.14
ipdb==0.13.9
jax==0.2.26
matplotlib==3.3.2
numpy==1.19.2
pandas==1.3.5
pcpca==0.3
scikit_learn==1.0.2
scipy==1.7.1
seaborn==0.11.0
setuptools==58.0.4
stan==1.0
tqdm==4.50.2
